@(course: Course)

@main("Assignment") {



  <div class="container">
    <h1>@course.name.toUpperCase()</h1>

    <h3>New Assignment</h3>

    <form enctype="multipart/form-data" role="form" method="POST" id="loginForm" action="/courses/@course.code/assignments">
      <div class="form-group">
        <label for="name">name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" rows="5" id="description" name="description"></textarea>
      </div>

      <div class="form-group">
        <label for="choice"> Choose Assignment Language </label>
        <select name="language" id="language">
            @for(l <- Language.find.all()) {
              <option value="@l.getName">@l.getName</option>
            }
        </select>
      </div>

      <div class="form-group">
        <label for="File">Upload Assignment File</label><br/>
        <input type="file" class="btn btn-primary" name="assignment">
      </div>


      <div class="form-group">
        <label for="class">  Test Cases Files</label><br/>
              <label for="class">  Name</label><br/>
              <input type="text" name="name" >
              <input type="file" class="btn btn-primary" name="case" multiple="multiple">
      </div>

      <button id="submit" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

}