@(assignment: Assignment)

@main("Assignment") {

<div class="container">
    <h1>@assignment.name by <span class="small">@assignment.lecturer.name</span></h1>

    <p>@assignment.description</p>

    <h3>Submissions</h3>

    <ul class="list-group">
        @for(submission <- assignment.submissions) {
            <li class="list-group-item">
                @submission.student.name
                <span class="badge">@submission.grade</span>
            </li>
        }
    </ul>

    <a class="btn btn-primary" href="/courses/@assignment.course.name/assignments/@assignment.id/submissions/create">
        Add
    </a>
</div>

}