@(assignment: Assignment)

@main("Assignment") {

<div class="container">
    <h1>@assignment.name by <span class="small">@assignment.lecturer.getName</span></h1>

    <p>@assignment.description</p>

    <h2>Assignment File</h2>
    <a href="/assignments/download/@assignment.id">@assignment.name</a>

    <h3>Submissions</h3>

    <ul class="list-group">
        @for(submission <- assignment.submissions) {
            <li class="list-group-item">
                @submission.student.name
                <span class="badge">@submission.grade</span>
            </li>
        }
    </ul>

    @if(session.get("role").equals("Student")){
        <a class="btn btn-primary" href="/assignments/@assignment.id/submissions/create">
            Add
        </a>
    }
</div>

}