@(users: List[User], role: String)



@main(title = "Users") {

<div class="container">
    <h1>Users @if(! "".equals(role)) { <span>@role</span> }</h1>

    @if(users.isEmpty()) {
        <p>No users available</p>
    } else {
        <div class="list-group">
            @for(user <- users) {
                <a href="/users/@user.getIdNum()" class="list-group-item">
                    <h4 class="list-group-item-heading">@user.name [@user.role.name]</h4>
                    <p class="list-group-item-text">@user.email</p>
                </a>
            }
        </div>
    }

    @if(null == session.get("email")) {
        <a href="/register" class="btn btn-primary btn-block">Register</a>
    }
</div>

}