
@main("Register") {

<div class="container">
    <form role="form" method="POST" action="/register">

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
        </div>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" id="student" value="student" name="student"> Student
            </label>
            <label class="radio-inline">
                <input type="radio" id="lecturer" value="lecturer" name="lecturer"> Lecturer
            </label>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

}